.site-layout-content {
  overflow: scroll;
  min-height: 280px;
  padding: 1% 5%;
  margin: 0 10%;
  background: #fff;
}

.header-style {
  margin: 0;
  padding: 2%;
  color: black;
  text-align: center;
  font-size: xx-large;
  text-decoration: underline;
  font-family: 'Inconsolata', Arial, sans-serif;
}

.pb0 {
  padding-bottom: 0px !important;
}

.header-style-normal {
  margin: 0;
  padding: 2%;
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inconsolata', Arial, sans-serif;
}

.card-text {
  padding: 28px 5px;
  text-align: justify;
  font-size: 18px;
  font-family: 'Inconsolata', Arial, sans-serif;
  line-height: 1.7;
  background: #fff;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container .ant-btn-primary {
  background: #dd356e;
  border: none;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  margin: 5% 0;
}

th,
td {
  background-color: #96d4d4;
  padding: 15px;
}

/* #pagination {
    margin: 0;
    padding: 0;
    text-align: center
  } */
#pagination li {
  display: inline;
}

#pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
}

/* border-pagination */
.b-pagination-outer {
  width: 100%;
  margin: 5% auto 0 auto;
  text-align: center;
  overflow: hidden;
  display: flex;
}

#border-pagination {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#border-pagination li {
  display: inline;
}

#border-pagination li button {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #dd356e;
  float: left;
}

#border-pagination li {
  width: 100%;
}

#border-pagination li button {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

#border-pagination li button.active {
  background-color: #dd356e;
  color: #fff;
}

#border-pagination li button:hover:not(.active) {
  background: #dd356e;
}

img {
  border-radius: 8px;
  margin-left: 2%;
  width: 5%;
  height: 5%;
}

.logo {
  width: 32px !important;
  height: 32px !important;
  margin: 0;
}

#result-table {
  text-align: center;
  margin: 0;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column !important;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.ant-slider-mark-text,
.ant-slider-mark-text-active {
  width: 100%;
}

/* NumberInputWithoutSpinners.css */
/* Hide the spinners in WebKit-based browsers (e.g., Chrome, Safari) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinners in Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.ant-radio-inner {
  border-width: 2px;
  border-color: #000;
}

.ant-radio-group {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  gap: 16px; */
}

.checkbox {
  /* margin-left: 56px; */
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.ant-checkbox-wrapper+.ant-checkbox-wrapper {
  margin-left: 0px;
}

.ant-slider-mark-text {
  color: rgba(0, 0, 0, 0.85) !important;
}