.CropModel {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* table {
  width: 800px;
} */

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

.ant-table-content>table {
  margin-top: 0;
  border: none;
}

/* .ant-table-wrapper {
  width: 100%;
} */

.ant-table-tbody>tr>td,
.ant-table-thead>tr>th {
  padding-top: 3px;
  padding-bottom: 3px;
}

th,
td {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ant-modal {
  width: '50%' !important;
}

.ant-typography+h1.ant-typography,
.ant-typography+h2.ant-typography,
.ant-typography+h3.ant-typography,
.ant-typography+h4.ant-typography,
.ant-typography+h5.ant-typography {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 16px;
}

th,
td {
  background-color: #b8d5ed;
}

td.ant-table-cell {
  font-size: 18px;
}

.recharts-legend-wrapper {
  padding-top: 30px;
}

.recharts-cartesian-axis-ticks {
  stroke: #3f3f3f;
}

custom-row {
  background-color: #F5F5F5 !important;
}

.recharts-tooltip-label {
  display: none;
}