.radio .ant-radio-wrapper {
    position: relative;
}

.radio .ant-radio-wrapper>span:not([class]) {
    position: absolute;
    padding-top: 1px;
    padding-left: 4px;
}

.radio table,
.radio th,
.radio td {
    border: 1px solid black;
    background-color: white;
}

.radio th {
    border: none
}

.radio td {
    text-align: left;
}

.radio td>span {
    font-size: 14px;
}

.ant-checkbox-group {
    display: flex;
    flex-direction: column
}